[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "Numerical-Recipes"]
	path = Numerical-Recipes
	url = https://github.com/NJdevPro/Numerical-Recipes.git
